.tr{
	border: 2px solid black;
	width: 30%;
}
#vb{
	font-weight: bold;
}
h3{
	color: blue;
	text-align: center;
}
#footer{
	background-image:
	url(../image/pt1.jfif);
	width: 200px;
	height: 100px;
	background-repeat: no-repeat;
	
	


}


#tw{
	background-image: url(../image/pt2.png);
	width: 200px;
	height: 100px;
	background-repeat: no-repeat;
	background-position:bottom,left ;
	
}