#banner
{
	width: 100%;
	height: 20vh;
	box-sizing: border-box;
	


}
h1
{

	margin-bottom: 30%;

}
#tg
{
	width: 100%;
	height: 20vh;
}

#side{
	width: 30%;
	height: 80vh;
	box-sizing: border-box;
	background-color: gray;
	float: left;
}
#content
{
	width: 70%;
	height: 80vh;
	box-sizing: border-box;
	
	float: right;

}
