*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 100%;
	
}
body{
	background-color: #2EFEF7;
	margin: 10%;
}

.nhung{
	width: 90%;
	height: 700px;
	border: 1px solid gray;
	background: white;
	
	margin: 0 auto;
}



h1{
	color: red;
	margin-left: 150px;

}
li
{
	list-style: none;
}
.banner{
	background-color: gray;
	position: relative;
	overflow: hidden;
	padding: 1.5rem 1rem;
}

.banner h1{
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 45px;
	
}

.nav{
	padding-top: 5px;
	background-color: blue;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-top: 1px solid white;
}

.nav a{
	flex-basis: 100%;
	padding: 1em 0;
	text-decoration: none;
	color: white;
}
.nav a:not(:first-child){
	border-left: 2px solid white;
	border-top: 2px;
	border-bottom: 2px;
}
.nav a:hover{
	margin-bottom: -3px;
	border-bottom: 3px solid red;
}
.content-left{
	padding-top: 7px;
	width: 200px;
	height: 410px;
	background-color: #81F7F3;
	float: left;
}
.content-right
{
	float: right;
	margin-top: 30px;
}

.content-right-duoi
{
	margin-bottom: 200px;
}

.content-right-trai{
	text-align: left;
	padding-bottom: 300px;
}
.content-right-phai{
	
	padding-bottom: 50px;
	padding: auto;
}

